@extends('admin.layouts.app')
@section('title', '设置')
@section('content')
    <div class="row">
        <form role="form" id="setting-form" class="form-horizontal" action="{{ route('admin.save-settings') }}"
              method="post">
            <div class="widget widget-default">
                <div class="widget-header">
                    <h6>
                        <i class="fa fa-cog fa-fw"></i>设置
                    </h6>
                </div>
                <div class="widget-body">
                    <div class="form-group">
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ google_analytics and google_analytics == 'true' and ' checked ' or '' }}
                                       name="google_analytics"
                                       value="true">启用谷歌分析
                            </label>
                        </div>
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ google_analytics and google_analytics == 'true' and '' or ' checked ' }}
                                       name="google_analytics"
                                       value="false">禁用谷歌分析
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ enable_mail_notification and enable_mail_notification == 'true' and ' checked ' or '' }}
                                       name="enable_mail_notification"
                                       value="true">启用邮件通知
                            </label>
                        </div>
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ enable_mail_notification and enable_mail_notification == 'true' and '' or ' checked ' }}
                                       name="enable_mail_notification"
                                       value="false">禁用邮件通知
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ comment_type and comment_type == 'none' and ' checked ' or '' }}
                                       name="comment_type"
                                       value="none">关闭评(不显示)
                            </label>
                        </div>
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ (not comment_type or comment_type == 'raw') and ' checked ' or '' }}
                                       name="comment_type"
                                       value="raw">自带评论
                            </label>
                        </div>
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ (comment_type and comment_type == 'disqus') and ' checked' or '' }}
                                       name="comment_type"
                                       value="disqus">Disqus
                            </label>
                        </div>
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ (comment_type and comment_type == 'duoshuo') and ' checked' or '' }}
                                       name="comment_type"
                                       value="duoshuo">多说
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ (not allow_comment or allow_comment == 'true') and ' checked ' or '' }}
                                       name="allow_comment"
                                       value="true">允许评论(仍会显示已有评论)
                            </label>
                        </div>
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ (allow_comment and allow_comment == 'false') and ' checked ' or '' }}
                                       name="allow_comment"
                                       value="false">禁止评论(仍会显示已有评论)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ (enable_hot_posts and enable_hot_posts == 'true') and ' checked ' or '' }}
                                       name="enable_hot_posts"
                                       value="true">启用热门文章
                            </label>
                        </div>
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ (enable_hot_posts and enable_hot_posts == 'true') and '' or ' checked ' }}
                                       name="enable_hot_posts"
                                       value="false">禁用热门文章
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ (open_pay and open_pay == 'true') and ' checked ' or '' }}
                                       name="open_pay"
                                       value="true">开启赞赏
                            </label>
                        </div>
                        <div class="radio">
                            <label class="col-sm-offset-2">
                                <input type="radio"
                                       {{ (open_pay and open_pay == 'true') and '' or ' checked ' }}
                                       name="open_pay"
                                       value="false">关闭赞赏
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="google_trace_id" class="col-sm-2 control-label">跟踪ID</label>
                        <div class="col-sm-8">
                            <input type="text" name="google_trace_id" class="form-control" id="google_trace_id"
                                   placeholder="谷歌跟踪ID"
                                   value="{{ google_trace_id or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="author" class="col-sm-2 control-label">作者</label>
                        <div class="col-sm-8">
                            <input type="text" name="author" class="form-control" id="author"
                                   value="{{ author or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-8">
                            <input type="text" name="description" class="form-control" id="description"
                                   value="{{ description or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="avatar" class="col-sm-2 control-label">头像</label>
                        <div class="col-sm-8">
                            <input type="text" name="avatar" class="form-control" id="avatar"
                                   value="{{ avatar or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="avatar" class="col-sm-2 control-label">Disqus ID</label>
                        <div class="col-sm-8">
                            <input type="text" name="disqus_shortname" class="form-control" id="avatar"
                                   value="{{ disqus_shortname or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="avatar" class="col-sm-2 control-label">多说 ID</label>
                        <div class="col-sm-8">
                            <input type="text" name="duoshuo_shortname" class="form-control" id="avatar"
                                   value="{{ duoshuo_shortname or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="avatar" class="col-sm-2 control-label">Github用户名</label>
                        <div class="col-sm-8">
                            <input type="text" name="github_username" class="form-control" id="avatar"
                                   value="{{ github_username or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Js</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="site_js"
                                   value="{{ site_js or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Css</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="site_css"
                                   value="{{ site_css or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="site_title"
                                   value="{{ site_title or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">关键字</label>
                        <div class="col-sm-8">
                            <input placeholder="网站关键字" class="form-control" type="text" name="site_keywords"
                                   value="{{ site_keywords or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">网站描述</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="site_description"
                                   value="{{ site_description or '' }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">每页数量</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" name="page_size"
                                   value="{{ page_size or 7 }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">热门文章数量</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="number" name="hot_posts_count"
                                   value="{{ hot_posts_count or 5 }}">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">简介图片</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="profile_image"
                                   value="{{ profile_image or ''}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">背景图片</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="background_image"
                                   value="{{ background_image or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">赞赏描述</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="pay_description"
                                   value="{{ pay_description or '写的不错，赞助一下主机费'}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">支付宝支付二维码</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="zhifubao_pay_image_url"
                                   value="{{ zhifubao_pay_image_url or ''}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">微信支付二维码</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="wechat_pay_image_url"
                                   value="{{ wechat_pay_image_url or ''}}">
                        </div>
                    </div>

                    {{ csrf_field() }}
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button type="submit" class="btn bg-primary">
                                保存
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
@endsection

