@extends('layouts.app')
@section('content')
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="widget widget-default">
                    <div class="widget-header">
                        <h4><i class="fa fa-github fa-fw"></i>注册</h4>
                    </div>
                    <div class="widget-body">
                        <form class="form-horizontal" role="form" method="POST" action="{{ route('github.store') }}">
                            {{ csrf_field() }}
                            <input type="hidden" name="github_id" value="{{ githubData['github_id'] }}">
                            <div class="form-group{{ errors:has('name') and ' has-error' or '' }}">
                                <label for="name" class="col-md-4 control-label">昵称</label>

                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" name="name"
                                           value="{{ githubData['name'] or '' }}">

                                    @if(errors:has('name'))
                                        <span class="help-block">
                                        <strong>{{ errors:first('name') }}</strong>
                                    </span>
                                    @endif
                                </div>
                            </div>

                            <div class="form-group{{ errors:has('email') and ' has-error' or '' }}">
                                <label for="email" class="col-md-4 control-label">邮箱</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email"
                                           value="{{ githubData['email'] or '' }}" readonly>

                                    @if(errors:has('email'))
                                        <span class="help-block">
                                        <strong>{{ errors:first('email') }}</strong>
                                    </span>
                                    @endif
                                </div>
                            </div>

                            <div class="form-group{{ errors:has('password') and ' has-error' or '' }}">
                                <label for="password" class="col-md-4 control-label">密码</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password">

                                    @if(errors:has('password'))
                                        <span class="help-block">
                                        <strong>{{ errors:first('password') }}</strong>
                                    </span>
                                    @endif
                                </div>
                            </div>

                            <div class="form-group{{ errors:has('password_confirmation') and ' has-error' or '' }}">
                                <label for="password-confirm" class="col-md-4 control-label">确认密码</label>

                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control"
                                           name="password_confirmation">

                                    @if(errors:has('password_confirmation'))
                                        <span class="help-block">
                                        <strong>{{ errors:first('password_confirmation') }}</strong>
                                    </span>
                                    @endif
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-github fa-fw"></i>注册
                                    </button>
                                </div>
                            </div>
                        </form>
                        {{--<a href="{{ route('github.login') }}" class="pull-right">
                            <i class="fa fa-lg fa-github fa-fw"></i>
                        </a>--}}
                    </div>
                </div>
            </div>
        </div>
    </div>
@endsection
