@extends('layouts.app')

@section('content')
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="widget widget-default">
                    <div class="widget-header"><h4>注册</h4></div>
                    <div class="widget-body">
                        <form class="form-horizontal" role="form" method="POST" action="{{ url('/reg') }}">
                            {{ csrf_field() }}

                            <div class="form-group{{ errors:has('name') and ' has-error' or '' }}">
                                <label for="name" class="col-md-4 control-label">昵称</label>

                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" name="name"
                                           value="{{ old('name') }}" autofocus>

                                    @if(errors:has('name'))
                                        <span class="help-block">
                                        <strong>{{ errors:first('name') }}</strong>
                                    </span>
                                    @endif
                                </div>
                            </div>

                            <div class="form-group{{ errors:has('email') and ' has-error' or '' }}">
                                <label for="email" class="col-md-4 control-label">邮箱</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email"
                                           value="{{ old('email') }}">

                                    @if(errors:has('email'))
                                        <span class="help-block">
                                        <strong>{{ errors:first('email') }}</strong>
                                    </span>
                                    @endif
                                </div>
                            </div>

                            <div class="form-group{{ errors:has('password') and ' has-error' or '' }}">
                                <label for="password" class="col-md-4 control-label">密码</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password">

                                    @if(errors:has('password'))
                                        <span class="help-block">
                                        <strong>{{ errors:first('password') }}</strong>
                                    </span>
                                    @endif
                                </div>
                            </div>

                            <div class="form-group{{ errors:has('password_confirmation') and ' has-error' or '' }}">
                                <label for="password-confirm" class="col-md-4 control-label">确认密码</label>

                                <div class="col-md-6">
                                    <input id="password-confirm" type="password" class="form-control"
                                           name="password_confirmation">

                                    @if(errors:has('password_confirmation'))
                                        <span class="help-block">
                                        <strong>{{ errors:first('password_confirmation') }}</strong>
                                    </span>
                                    @endif
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">
                                        注册
                                    </button>
                                </div>
                            </div>
                        </form>
                        <a class="pull-right"  style="text-decoration: none" href="{{ route('github.login') }}">
                            使用<i class="fa fa-lg fa-github fa-fw"></i>注册
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
@endsection
